---

---

@import 'variables';

body, html {
  font-family: $font-family;
  font-size: $remBase;
  padding:0;
  margin:0;
  box-sizing: border-box;
}

body {
  border-top: 0.5 * $bu solid $yellow;
  color: $gray;
}

.container {
  width: 50%;
  margin:0 auto;
}

@media (max-width:768px)  {
  .container {
    width: 90%;
  }
}

.Header {
  padding: $bu * 2;
  border-bottom: 2px solid $light_gray;
  display: flex;
  align-items: center;

  &__nav {
    margin: 0;
    margin-left: auto;
    list-style-type: none;
    padding: 0;
    font-size: $baseFontSize;
    display: flex;

    &-item {
      padding: 0 $bu;

      &:last-child {
        padding-right: 0;
      }
    }
  }
}

.emoji {
  margin-right: 0.5*$bu;
}

p {
  font-size: $baseFontSize;
  margin-top:0;
}

small {
  font-size: $small;
}

h1 {
  font-size: $h1;
  margin: 0;
}

h2 {
  font-weight: normal;;
  font-size: $h2;
  line-height: $h2 * 1.8;
}

h3 {
  font-size: $h3;
  line-height: $h3 * 1.2;
  font-weight: normal;
  margin-bottom: 0;
}

h4 {
  font-size: $h4;
  margin: 0;
  font-weight: normal;
}

.text-muted {
  color: $muted;
}

.text-center {
  text-align: center;
}

a, a:visited {
  color: $link-color;
  text-decoration: none;
}

a:hover {
  border-bottom: 1px solid $blue;
}

.Bio {
  padding: 0 $bu * 2;
}

.footer {
  text-align: center;
  padding:$bu 0;
  border-top: 2px solid $light_gray;
  color: $muted;
}

.CV {
  &__header {
    padding: 2*$bu 0 $bu;
    display: flex;
    align-items: center;
    border-bottom: 2px solid $light_gray;
  }

  &__name {
    margin: 0;
    line-height: $h1;
  }

  &__tagline {
    margin: 0;
    color: $muted;
    line-height: $h2;
  }

  &__contact-info {
    margin-left: auto;
    font-size: $baseFontSize;
    color: $muted;
    list-style: none;
    &-type {
      width: $bu*2;
      display: inline-block;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    padding-left: 2*$bu;
    font-size: $baseFontSize;
    &-item {
      padding: 0.25*$bu 0;
    }
  }

  &__section {
    display: flex;
    &-header {
      width: 25%;
      padding-right: $bu;
      line-height: $h2;
    }

    &-content {
      padding-left: $bu;
      &--flex {
        flex: 1;
        display: flex;
      }
      &-section:first-child {
        padding-right: $bu * 3;
      }
      &-section:last-child {
        padding-right: $bu * 3;
      }
    }

    &-link {
      color: $gray !important;
      &:hover {
        border-color: $light_gray !important;
      }
    }
  }
}

@media (max-width:768px)  {
  .CV__section-header {
    width: 35%;
  }

  .hide-xs {
    display: none;
  }

  .Header__nav {
    display: inline;
  }
}
