<!DOCTYPE html>
<html>

{% include head.html %}

<body>

  <div class="container">
    <div class="CV__header">
      <div class="CV__header--left">
        <h1 class="CV__name">Nik Korablin</h1>
        <h2 class="CV__tagline">Full-stack developer</h2>
      </div>
      <ul class="CV__contact-info">
        <li><span class="CV__contact-info-type hide-xs"><i class="fa fa-envelope"></i></span> <a href="mailto:nikorablin@gmail.com">nikorablin@gmail.com</a></li>
        <li><span class="CV__contact-info-type hide-xs"><i class="fa fa-globe"></i></span> <a href="http://nikorablin.io">nikorablin.io</a></li>
        <li><span class="CV__contact-info-type hide-xs"><i class="fa fa-phone"></i></span> <a href="tel:7178240189">7178240189</a></li>
        <li><span class="CV__contact-info-type hide-xs"><i class="fa fa-github"></i></span> <a href="https://github.com/nikorablin">GitHub</a></li>
      </div>
    </div>
  </div>

  <div class="container">
    {{ content }}
  </div>

</body>

</html>
